<div id="bar"></div>

<article>
  <h1>銀河</h1>
  <p>宮﨑</p>

  <h2>現在1/29日　3時間目授業中</h2>
  <p>1時間目：数学</p>
  <p>2時間目：社会</p>
  <p>3時間目：国語</p>
  <p>4時間目：英語</p>
  <p>5時間目：体育</p>
  <p>6時間目：選択科目</p>

  <h2>明日　文化祭前日</h2>
  <p>1時間目：体育</p>
  <p>2時間目：選択科目</p>
  <p>3時間目：英語</p>
  <p>4時間目：社会</p>
  <p>5時間目：文化祭準備</p>
  <p>6時間目：文化祭準備</p>

  <h2>明後日　文化祭当日</h2>
  <p>1時間目：文化祭準備</p>
  <p>2時間目：文化祭準備</p>
  <p>3時間目：文化祭開催</p>
  <p>4時間目：文化祭開催</p>
  <p>5時間目：文化祭開催</p>
  <p>6時間目：文化祭閉会</p>

  <h2>明々後日　体育祭当日</h2>
  <p>1時間目：体育祭準備</p>
  <p>2時間目：体育祭開会式</p>
  <p>3時間目：体育祭開催</p>
  <p>4時間目：体育祭開催</p>
  <p>5時間目：体育祭閉会式</p>
  <p>6時間目：体育祭片付け</p>

</article>